@font-face {
  font-family: "iconfont"; /* Project id 2842014 */
  src: url('iconfont.woff2?t=1632838243878') format('woff2'),
       url('iconfont.woff?t=1632838243878') format('woff'),
       url('iconfont.ttf?t=1632838243878') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye-shouye:before {
  content: "\e608";
}

.icon-wode:before {
  content: "\e631";
}

